/**
 * # Notes for style guide
 * Font ideas: "Love Ya Like A Sister", "Amatic SC", "Waiting for the sunrise", "Londrina Sketch"
 */

@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
@import url(http://fonts.googleapis.com/css?family=Abel);

//- Boilerplate classes
.bp-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//- Content
html {
  height: 100%;
}
body {
  background-color: #F90;
  color: white;
  font-family: Abel, Arial;
  font-size: 18px;
  height: 100%;
}
.logo {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 3em;
}
.splash {
  @extend .bp-flex-container;
  height: 100%;
  h2 {
    opacity: .9;
  }
}
