/**
 * This file contains diverse styling tools used throughout the site: sass variables, mixins, placeholder classes and helpers.
 * Block-specific variables, mixins, placeholders and helpers should be defined in their respective blocks.
 */

//- Variables
$splash-background: #f02;
$footer-background: #444;
$text-color-main: #222;
$text-color-inverted: #fff;
$text-color-links: #666;
